# Pandas

* It is a python library to read , write and Analyze data.
* Used for Data anaysis and machine learning.
* Can be represented as , 
    * Series
        * 1-D array
    * Data Frame
        * 2-D array

In [17]:
import pandas as pd

bhaagi = pd.Series([14,52.9,63,24,87,98,45,32])
print(bhaagi)
mounika = pd.Series([[1,2,3],[4,5,6],"string"])
print(mounika)
print(type(bhaagi))
print(bhaagi[2:5])

0    14.0
1    52.9
2    63.0
3    24.0
4    87.0
5    98.0
6    45.0
7    32.0
dtype: float64
0    [1, 2, 3]
1    [4, 5, 6]
2       string
dtype: object
<class 'pandas.core.series.Series'>
2    63.0
3    24.0
4    87.0
dtype: float64

# Data frame

In [68]:
l = [12,32,56,85,35,864,245]
print(pd.DataFrame(l),"\n\n")
m = [[1,2,3],[11,22,33],[456,1,3]]
print(pd.DataFrame(m),"\n\n")
print(pd.DataFrame([[1,2,2],[3,4,5]] , columns = ["one","Two","three"]),"\n\n")
d = {"name":['a','b','c','d'],"age":['23','30','40','50']}
df = pd.DataFrame(d)
print(df)

## reading data from DataFrame

print(type(df['name']))
print(type(df[['name']]))
type(df[['name','age']])
df[:]

     0
0   12
1   32
2   56
3   85
4   35
5  864
6  245


     0   1   2
0    1   2   3
1   11  22  33
2  456   1   3


   one  Two  three
0    1    2      2
1    3    4      5


  name age
0    a  23
1    b  30
2    c  40
3    d  50
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

  name age
0    a  23
1    b  30
2    c  40
3    d  50

## Reading Data using loc and iloc

* loc  -- > location
* iloc -- > index location

In [76]:
df
#df.loc[0:2,"age":]
#df.set_index("name",inplace=True)
df.iloc[1:]
#axis = 1 -->column
df.drop('age',axis = 1)
df['age'] = ['10','20','30','40']

  name
0    a
1    b
2    c
3    d